spring:
  application:
    name: eureka-server
server:
  port: 7000
eureka:
  client:
    service-url:
      defaultZone: http://localhost:7000/eureka
    register-with-eureka: false
    fetch-registry: false